[phases.setup]
nixPkgs = ['nodejs-18_x', 'yarn']

[phases.install]
cmds = ['cd frontend && yarn install --frozen-lockfile']

[phases.build]
cmds = ['cd frontend && yarn build']

[start]
cmd = 'npx serve -s frontend/build -l $PORT'
